@font-face {
	font-family: 'Rum Raisin';
	font-weight: 400;
	src: url('../public/fonts/RumRaisin-Regular.ttf');
}

@font-face {
	font-family: 'Yellow Ginger';
	font-weight: 400;
	src: url('../public/fonts/Yellow\ Ginger.ttf');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #00876e !important;
	color: #fff;
	line-height: 1.6;
}

header {
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.container {
	max-width: 768px;
	margin: auto;
	padding: 0 20px;
}

.float-left {
	float: left;
}

nav.navbar {
	padding: 0;
	background-color: black !important;
}

.navbar-light .navbar-brand a {
	color: #000;
	text-decoration: none;
}

.app-title,
.recipe-detail-title {
	font-family: 'Yellow Ginger';
}

li.list-group-item {
	padding: 0;
	background-color: #00ffd0;
	color: white;
}

div.row > * {
	padding-left: 0px;
	padding-right: 0px;
}

ul.pagination {
	margin-bottom: 0;
}

li.page-item {
	border: none;
}

.recipe-list-container {
	max-width: 85%;
	margin: 30px auto 0 auto;
	padding-bottom: 30px;
}

.recipe-list {
	padding-bottom: 15px;
}

.recipe-list li .recipe-title {
	font-family: 'Yellow Ginger';
}

.recipe-list li img {
	height: 100%;
	width: 100%;
}

li a {
	text-decoration: none;
}

li.active a {
	color: white;
}

.recipe-title {
	padding-top: 10px;
	font-size: 1.15em;
}

.recipe-title a {
	text-decoration: none;
	color: #000;
}

.recipe-title a:hover {
	text-decoration: none;
	color: #000;
	font-size: 1.005em;
}

.recipe-info {
	padding-left: 10px;
}

p.ingredients {
	font-family: Roboto;
	font-size: 1.05em;
	padding-right: 2px;
	margin-bottom: 10px;
	color: #000;
}

.recipe-detail-container {
	margin: 30px auto 0 auto;
	padding-bottom: 30px;
}

.test {
	float: right;
}

span.badge {
	margin-right: 4px;
}

span.bg-dark {
	background-color: #e600ff !important;
}
